<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2 style="color: darkgreen;">Welcome to Rails,Aayushi Malviya World .</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>